.DS_Store
.idea
.venv/*
*.log
tmp/*
.tmp/*
**/__pycache__/**
readme.org
docs/stylesheets/extra.css
.env
.coverage

# transient marker written by scripts/mutation_test.py while source files are mutated
.mutation-in-progress
