[tool.poetry]
name = "frappe-manager"
version = "0.8.3"
license = "MIT"
repository = "https://github.com/rtcamp/frappe-manager"
description = "A CLI tool based on Docker Compose to easily manage Frappe based projects. As of now, only suitable for development in local machines running on Mac and Linux based OS."
authors = ["rtCamp <sys@rtcamp.com>"]
readme = "README.md"

[tool.poetry.scripts]
fm = "fm.main:app"

[tool.poetry.dependencies]
python = "^3.11"
jinja2 = "^3.1.2"
typer = {extras = ["all"], version = "^0.9.0"}
pyyaml = "^6.0.1"
requests = "^2.31.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
