[tool.poetry]
name = "easyfrappe"
version = "0.1.0"
description = ""
authors = ["Xieyt <alokmilenium@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
jinja2 = "^3.1.2"
fire = "^0.5.0"
rich = "^13.4.2"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
