services:
  worker-name:
    image: ghcr.io/rtcamp/frappe-manager-frappe:v0.16.7
    environment:
      SUPERVISOR_SERVICE_CONFIG_FILE_NAME: '{worker-name}.workers.fm.supervisor.conf'
    command: launch_supervisor_service.sh
    volumes:
      - ./workspace:/workspace
    networks:
      site-network:
      global-backend-network:

networks:
  site-network:
    name: REPLACE_ME_WITH_SITE_NAME_NETWORK
    external: true
  global-backend-network:
    name: fm-global-backend-network
    external: true
