version: "3.9"
services:
  frappe:
    image: xieytx/fm-frappe
    environment:
      - SHELL=/bin/bash
     {%- for env in inputs.frappe_env %}
      - {{ env.name }}={{ env.value }}
     {%- endfor %}
    volumes:
      - ./workspace:/workspace:cached
      # Enable if you require git cloning
      # - ${HOME}/.ssh:/home/frappe/.ssh
    ports:
      - 80
      - 9000:9000
    extra_hosts:
     {%- for host in inputs.extra_hosts %}
      - "{{ host.name }}:{{ host.ip }}"
     {%- endfor %}

  nginx:
    image: xieytx/fm-nginx
    environment:
     {%- for env  in inputs.nginx_env %}
      - {{ env.name }}={{ env.value }}
     {%- endfor %}
    volumes:
      - ./workspace:/workspace:cached
      - ./certs:/etc/nginx/certs
    ports:
      - 80:80
      - 443:443

  mailhog:
    image: xieytx/fm-mailhog
    ports:
      - 1025
      - 8025

  mariadb:
    image: mariadb:10.6
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
      - --skip-innodb-read-only-compressed # Temporary fix for MariaDB 10.6
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mariadb-data:/var/lib/mysql

  adminer:
    image: adminer:latest
    restart: unless-stopped
    environment:
      - ADMINER_DEFAULT_SERVER=mariadb
    ports:
      - 8080

  rq-dashboard:
    image: xieytx/fm-rqdashboard
    environment:
      - RQ_DASHBOARD_REDIS_URL=redis://redis-queue:6379
    ports:
      - 9181


  redis-cache:
    image: redis:alpine
    volumes:
      - redis-cache-data:/data
    ports:
      - 6379

  redis-queue:
    image: redis:alpine
    volumes:
      - redis-queue-data:/data
    ports:
      - 6379

  redis-socketio:
    image: redis:alpine
    volumes:
       - redis-socketio-data:/data
    ports:
      - 6379

volumes:
  mariadb-data:
  redis-socketio-data:
  redis-queue-data:
  redis-cache-data:
