version: "3.9"
services:
  frappe:
    image: ghcr.io/rtcamp/frappe-manager-frappe:v0.9.0
    environment:
      - SHELL=/bin/bash
    volumes:
      - ./workspace:/workspace:cached
    ports:
      - 80
      - 9000:9000
    labels:
        devcontainer.metadata: '[{ "remoteUser": "frappe"}]'
    extra_hosts:

  nginx:
    image: ghcr.io/rtcamp/frappe-manager-nginx:v0.8.3
    environment:
    volumes:
      - ./workspace:/workspace:cached
      - ./certs:/etc/nginx/certs
    ports:
      - 80:80
      - 443:443

  mailhog:
    image: ghcr.io/rtcamp/frappe-manager-mailhog:v0.8.3
    ports:
      - 1025
      - 8025

  mariadb:
    image: mariadb:10.6
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
      - --skip-innodb-read-only-compressed # Temporary fix for MariaDB 10.6
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mariadb-data:/var/lib/mysql

  adminer:
    image: adminer:latest
    environment:
      - ADMINER_DEFAULT_SERVER=mariadb
    ports:
      - 8080

  redis-cache:
    image: redis:alpine
    volumes:
      - redis-cache-data:/data
    ports:
      - 6379

  redis-queue:
    image: redis:alpine
    volumes:
      - redis-queue-data:/data
    ports:
      - 6379

  redis-socketio:
    image: redis:alpine
    volumes:
       - redis-socketio-data:/data
    ports:
      - 6379

volumes:
  mariadb-data:
  redis-socketio-data:
  redis-queue-data:
  redis-cache-data:
